<!DOCTYPE html>
<html>
  <head>
    <title>My Poem Appender</title>
    <script src="../vendors/jquery.min.js" charset="utf-8"></script>
    <script src="../public/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <p id="poemTitle">A Poem</p>
    <div id="textDiv"> To reveal the poem, click the button!</div>
    <div class="buttonDiv">
          <button id="poemButton" type="button" name="button">Click Me!</button>
    </div>
      <div id="poemDiv"></div>

  </body>
</html>
