body {
  font-family: sans-serif;
  background-color: #F2EDD8;
  text-align: center;
  color: #5D4C46;
}

#poemButton{
  border-radius: 4px;
  padding: 4px;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 30px;
  background-color: #F1A94E;
  color: #5D4C46;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#poemDiv{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
  width: 50%;
  padding-top: 50px;
  font-family: sans-serif;
  color: #E45641;
}

#poemTitle{
  font-family: sans-serif;
  font-size: 57px;
  margin-top: 40px;
  font-weight: bold;
}

#textDiv{
  margin-top: -45px;
  font-family: sans-serif;
}
